<div class="no-print flex justify-center py-3 sm:py-6 lg:py-8">
  <div
    class="corner-squircle flex rounded-4xl bg-orange-200 p-1 transition duration-300 hover:bg-orange-100 2xl:p-2 dark:bg-stone-700/50 dark:hover:bg-stone-700"
  >
    <nav class="flex space-x-2" aria-label="Recipe view" role="tablist">
      <button
        type="button"
        role="tab"
        aria-selected="true"
        class="active hs-tab-active:bg-orange-50 hs-tab-active:text-secondary dark:hs-tab-active:bg-stone-800 dark:hs-tab-active:text-primary-accent-dark focus-visible:ring-secondary corner-squircle inline-flex items-center gap-x-2 rounded-4xl bg-transparent px-4 py-3 text-sm font-medium text-stone-600 transition duration-300 hover:text-stone-700 focus:outline-hidden focus-visible:ring-1 focus-visible:outline-hidden disabled:pointer-events-none disabled:opacity-50 2xl:text-base dark:text-stone-400 dark:hover:text-stone-200"
        id="segment-item-1"
        data-hs-tab="#segment-1"
        aria-controls="segment-1"
      >
        Step-by-step
      </button>
      <button
        type="button"
        role="tab"
        aria-selected="false"
        class="hs-tab-active:bg-orange-50 hs-tab-active:text-secondary dark:hs-tab-active:bg-stone-800 dark:hs-tab-active:text-primary-accent-dark focus-visible:ring-secondary corner-squircle inline-flex items-center gap-x-2 rounded-4xl bg-transparent px-4 py-3 text-sm font-medium text-stone-600 transition duration-300 hover:text-stone-700 focus:outline-hidden focus-visible:ring-1 focus-visible:outline-hidden disabled:pointer-events-none disabled:opacity-50 2xl:text-base dark:text-stone-400 dark:hover:text-stone-200"
        id="segment-item-2"
        data-hs-tab="#segment-2"
        aria-controls="segment-2"
      >
        View all steps
      </button>
    </nav>
  </div>
</div>

<script>
  const tabs = document.querySelectorAll<HTMLButtonElement>(
    '[role="tab"][data-hs-tab]'
  );

  tabs.forEach(tab => {
    tab.addEventListener('click', () => {
      tabs.forEach(t => t.setAttribute('aria-selected', 'false'));
      tab.setAttribute('aria-selected', 'true');
    });
  });
</script>
